body {
    padding: 10px;
}

#create-header {
    margin-bottom: 20px;
}

#create-title,
#description,
#create-link {
    margin-bottom: 10px;
    display: block;
}

#create-link {
    width: 300px;
}

#create-box {
    display: flex;
}

#create-text {
    width: 120px;
}

#id_title,
#id_description,
#id_image,
#id_category,
#id_starting_price {
    display: block;
    margin-bottom: 10px;
}

#id_description {
    height: 100px;
    width: 450px;
}

#description-text {
    margin-bottom: 85px;
}