{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listings in {{ category }}</h2>

    {% for listing in listings %}
        {% if listing.active %}
            <div class="mini-listing">
                <div class="mini-listing-left">
                    <img src="{{ listing.image.url }}" class="mini-listing-image">
                </div>
                <div class="mini-listing-right">
                    <a class="mini-listing-link" href="{% url 'listing' listing.id %}"><h4>{{ listing.title }}</h4></a>
                    <div class="mini-listing-description">{{ listing.description }}</div>
                    <p>Current price: ${{ listing.price }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}