{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    {% if listing.active %}
        <div class="big-listing">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="{{ listing.image.url }}" class="big-listing-image">
                {% for comment in listing.comments.all %}
                <div class="comment">
                    {{ comment }} - {{ comment.time }}
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-6 col-md-8 col-sm-8">
                <div class="big-listing-description">{{ listing.description }}</div>
                <p class="big-listing-price">Current price: ${{ listing.price }}</p>
                {% if user.is_authenticated %}
                    {% if user.id == listing.lister.id %}
                        <form class="listing-form"  action="{% url 'comment' %}">
                            <input type="hidden" name="listing" value="{{ listing.id }}">
                            <input type="submit" value="Comment" class="listing-button">
                        </form>
                        <form class="listing-form"  action="{% url 'close' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="listing" value="{{ listing.id }}">
                            <input type="submit" value="Close Listing" class="listing-button">
                        </form>
                    {% else %}
                        <form class="listing-form"  action="{% url 'bid' %}">
                            <input type="hidden" name="listing" value="{{ listing.id }}">
                            <input type="submit" value="Bid" class="listing-button">
                        </form>
                        {% if user in listing.watchers.all %}
                            <form class="listing-form" action="{% url 'unwatch' user.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="listing" value="{{ listing.id }}">
                                <input type="submit" value="Unwatch" class="listing-button">
                            </form>
                        {% else %}
                            <form class="listing-form"  action="{% url 'watch' user.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="listing" value="{{ listing.id }}">
                                <input type="submit" value="Watch" class="listing-button">
                            </form>
                        {% endif %}
                        <form class="listing-form"  action="{% url 'comment' %}">
                            <input type="hidden" name="listing" value="{{ listing.id }}">
                            <input type="submit" value="Comment" class="listing-button">
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="big-listing">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="{{ listing.image.url }}" class="big-listing-image">
            </div>
            <div class="col-lg-6 col-md-8 col-sm-8">
                <div class="big-listing-description">This auction has ended</div>
                {% if user == listing.bids.last.bidder %}
                    <p class="winner">You won</p>
                {% endif %}
                <p class="big-listing-price">Winning bid: ${{ listing.price }}</p>
            </div>
        </div>
    {% endif %}

{% endblock %}
